body {
  display: flex;
  flex-direction: column;
  background-image: url("images/cloudy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header h1 {
  color: white;
  font-size: 50px;
}

input {
  width: 450px;
  height: 25px;
  background-color: white;
  border: 0px;
  border: 1px solid white;
  border-radius: 10px;
}

input:hover {
  background-color: rgb(135, 209, 238);
  border: 1px solid white;
}

form {
  display: flex;
  align-items: center;
  gap: 5px;
}
button {
  background-color: white;
  border: 0px;
  text-align: center;
  border: 1px solid white;
  height: 30px;
  width: 50px;
  padding: 0;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(135, 209, 238);
  border: 1px solid white;
}

button svg {
  color: rgb(58, 58, 236);
  width: 20px;
}

#currentWeather {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#currentWeather h2 {
  color: white;
  font-size: 40px;
}

#temperature {
  display: flex;
  gap: 10px;
}

#temperature p {
  font-size: 50px;
  color: white;
  margin: 20px 0 20px 0;
}

#temperature svg {
  color: white;
  width: 50px;
}

#weatherInfo {
  display: flex;
  gap: 30px;
}

#weatherInfo div h4,
#weatherInfo div {
  color: white;
  font-size: 25px;
}

.value {
  text-align: center;
}

#icon {
  width: 90px;
}

#hourWeather {
  display: flex;
  align-items: center;
  gap: 15px;
}

#hourWeather > button {
  width: 100px;
}

.border {
  width: 900px;
  height: fit-content;
  overflow: hidden;
}

#container {
  width: fit-content;
  display: flex;
  transition: transform 1s ease-in-out;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  color: white;
  font-size: 25px;
}
